.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header > p {
    font-size: 3rem;
}

.header > img {
    width: 4rem;
    height: 4rem;
    padding: 0.4rem;
}

@media (max-width: 700px) {
    .last-update {
        font-size: 0.75rem;
    }

    .header > p {
        font-size: 1.0rem;
    }
    
    .header > img {
        width: 1.7rem;
        height: 1.7rem;
        padding: 0.2rem;
    }
}